# Note: When creating requirements.txt, 
# it is a recommended practice to indicate the version range of the library rather than a specific fixed version number.

#! pip install  -r requirements.txt
#! or [in China] pip install  -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
# ######### No version specified #########
matplotlib 
numpy   
pandas 
shapely
tqdm

# ######### Has version specified #########
lxml>=4.9.3
scipy>=1.11.2
imageio>=2.0.0  # generate gif
